/* MAIN */

body {
  font-family: "Carrois Gothic", "Raleway", sans-serif;
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
}

header {
  background-color: white;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.box {
  background-color: white;
  padding: 1.8rem;
}

footer {
  padding: 2rem;
  margin: 2.5rem 0 0 0;
  color: white;
  text-align: center;
  background-color: black;
}

a {
  color: rgb(12, 105, 0);
}

a:hover {
  color: rgb(62, 158, 49);
}

/* TWEAKS */

.masthead {
  max-width: 1000px;
  max-height: 600px;
  width: auto;
  height: auto;
}

.img-thumb-resize {
  display: block;
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.user-img-thumb-resize {
  display: block;
  max-width: 100px;
  max-height: 150px;
  width: auto;
  height: auto;
}

.profile-img-thumb-resize {
  display: block;
  float: left;
  margin: 1.5rem 1.5rem 1rem 0;
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.dropdown-width-adj {
  width: 150px;
}

.admin-section-text {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 1rem 0 0 0;
  padding: 0;
}

/* FOUNDATION TWEAKS */

.media-object {
  font-size: 1.2rem;
}

.button {
  margin: 0;
}

.menu {
  font-size: 1.2rem;
}

.card-section {
  padding: 2rem;
}

/* GENERAL */

.align-center {
  text-align: center;
}

.button-margin-left {
  margin-left: 1rem;
}

.button-margin-top {
  margin-top: 0.9rem;
}

/* MISC */
.fade-in {
  animation: fadeIn ease 4s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut ease 6s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
